$primary: #3bb92f;
// $primary-dark: #006800;
// $primary-light: #8bd56d;

$primary-light: #7ed56f;
$primary-dark: #28b485;

$secondary: #1f4bc4;
$secondary-dark: #001b8f;
$secondary-light: #6d82d6;

$color-grey: #ccc;
$color-white: #fff;
$color-black: #000;

$background: #efefef;
$forground: #fff;

$font-light: #efefef;
$font-dark: #424242;
$font: rgb(102, 102, 102);

// FONT
$default-font-size: 1.6rem;
