<section id="practice"  class="section practice-description">

  <div class="practice-description__item">
    <div class="practice-description__img-1"></div>
    <div class="practice-description__text background--secondary">
      <h3>My Practice</h3>
      <p>
        Each of us have a certain bent, perspective or predisposition on how we handle the stress, anxiety and issues the circumstances in life deals us.
        How we process these determines how mentally healthy we are. As we find ourselves affected negatively by such circumstances, we may struggle to know
        how to manage and direct this part of ourselves so that it does not negatively impact our lives but strengthens us. Life brings all sorts of situations
        our way that we may not know how to process in a healthy manner. This can lead to anger, anxiety, stress, or depression. Even trauma and loss are
        mostly out of our control but still needs processing. Life can begin to feel unmanageable or maybe just uncomfortable and we may need help working
        through the stages in our life. I believe it takes someone willing to connect with and listen to us and then help guide us through our own understanding
        and knowledge of mental health and healing. This is where I enjoy coming alongside my clients helping them to obtain the tools and wisdom to create
        simplicity and peace in their lives and to help heal their pain of suffering.
      </p>
    </div>
  </div>

  <div class="practice-description__item">
    <div class="practice-description__text background--tirshiary">
      <h3>Treatment Preferences</h3>
      <p>
        I work together with my clients to administer treatment by using counseling modalities such as Cognitive Behavioral Therapy (CBT), Mindfulness-Based (MBCT),
        Person-Centered, Strength-Based, Psychodynamic Theory, EMDR and The Three Principles-Based techniques.  Resilience is our common response to difficult life
        issues such as stress, anxiety, depression, trauma and loss and through resilience we can create sustainable change. I desire to support my clients through
        the above-referenced techniques to obtain this sustaining change for complete mental health.  The population I serve includes children, family, adults,
        and couples.
      </p>
    </div>
    <div class="practice-description__img-2"></div>
  </div>

</section>
