<section id="contact" class="location">
  <iframe class="location__map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3326.9260257473234!2d-112.0041774674852!3d33.50330169644823!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872b0d0113bf10c9%3A0xc9d7445e7a46b3a2!2s4545%20N%2036th%20St%2C%20Phoenix%2C%20AZ%2085018!5e0!3m2!1sen!2sus!4v1695175151290!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
 <div class="location__info">
      <h2>Trinity-One Counseling</h2>
      <span>debra@trinityonecounseling.com</span>

      <span>4545 N 36th St Suite 202, Phoenix, AZ 85018</span>

      <span>(602) 277-8228</span>

      <span>Office Hours: By Appointment</span>

      <span>Call or email for scheduling</span>
  </div>
</section>
