<section id="contact" class="location">
  <iframe class="location__map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3326.829976294399!2d-112.00673882524137!3d33.50580044638789!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872b0dea5e6b51bf%3A0x3f6eea41d40866e3!2sTrinity-One%20Counseling%20Services!5e0!3m2!1sen!2sus!4v1694897387069!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  <div class="location__info">
      <h2>Trinity-One Counseling</h2>
      <span>debra@trinityonecounseling.com</span>

      <span>4645 N 36th St Suite 202, Phoenix, AZ 85018</span>

      <span>(602) 277-8228</span>

      <span>Office Hours: By Appointment</span>

      <span>Call or email for scheduling</span>
  </div>
</section>
