<div [ngClass]="expandedClass">

  <div class="mobile-nav__main">
    <span>Trinity-One Counseling</span>
    <button class="mobile-nav__btn" (click)="toggleMenu()">
      <span class="material-symbols-outlined">
        menu
      </span>
    </button>
  </div>


  <div *ngIf="expanded" class="mobile-nav--expanded__menu">

    <a class="btn__outline--primary-dark ease" href="mailto:debra@trinityonecounseling.com">
      debra@trinityonecounseling.com
    </a>

    <a class="btn__outline--primary-dark ease" href="tel:6022778228">
      (602) 277-8228
    </a>

    <a class="nav-link" href="#home" (click)="toggleMenu()">Home</a>
    <a class="nav-link" href="#practice" (click)="toggleMenu()">My Practice</a>
    <a class="nav-link" href="#areas-of-practice" (click)="toggleMenu()">Areas of Practice</a>
    <a class="nav-link" href="#about-me" (click)="toggleMenu()">About Me</a>
    <a class="nav-link" href="#contact" (click)="toggleMenu()">Contact</a>


  </div>

</div>
