<div class="page">
  <div class="hero" id="home">
      <span>Adults <span *ngIf="!isMobile">&#183;</span> Teens <span *ngIf="!isMobile">&#183;</span> Children <span *ngIf="!isMobile">&#183;</span> Couples</span>
      <div class="hero-divider"></div>
      <span>Depression <span *ngIf="!isMobile">&#183;</span> Anxiety <span *ngIf="!isMobile">&#183;</span> Trauma</span>
  </div>

  <app-practice />

  <app-practice-areas [isMobile]="isMobile"/>

  <app-aboutme />

  <app-location />

  <app-footer />
</div>
