<section id="areas-of-practice" class="practice-areas">

  <div class="practice-areas__card">
    <div class="card__header">
      <span>Areas of Practice</span>
    </div>

    <div class="card__body">
      <span class="treatment-item">Trauma</span>
      <span *ngIf="!isMobile">&#183;</span>
      <span class="treatment-item">Grief</span>
      <span *ngIf="!isMobile">&#183;</span>
      <span class="treatment-item">Anxiety</span>
      <span *ngIf="!isMobile">&#183;</span>
      <span class="treatment-item">Depression</span>
      <span *ngIf="!isMobile">&#183;</span>
      <span class="treatment-item">Overall mental well-being with couples, adults, and family.</span>
    </div>
  </div>

  <div class="practice-areas__card">
    <div class="card__header">
      <span>Treatment Models</span>
    </div>

    <div class="card__body">
      <span class="treatment-item">Trauma Informed Care</span>
      <span *ngIf="!isMobile">&#183;</span>
      <span class="treatment-item">EMDR</span>
      <span *ngIf="!isMobile">&#183;</span>
      <span class="treatment-item">Mindfulness-Based Cognitive Therapy</span>
      <span *ngIf="!isMobile">&#183;</span>
      <span class="treatment-item">Internal Family Systems</span>
      <span *ngIf="!isMobile">&#183;</span>
      <span class="treatment-item">Three Principles (Mind, Thought & Consciousness)</span>
    </div>

  </div>

</section>
