.section {
  font-size: $default-font-size;
  color: $font;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }

  &__heading {
    text-align: center;
    font-size: 5rem;
    font-weight: 200;
    letter-spacing: 2px;
    width: 100%;
  }
}
