html {
  font-size: 62.5%;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto Slab', serif;
  font-family: 'Ubuntu', sans-serif;
  overflow-x: hidden;

}
