@import "../../../sass/abstracts/variables";
@import "../../../sass/components/button";

.navbar {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $forground;
  border-bottom: 1px solid $color-grey;
  transition: 400ms;

  &--min {
    z-index: 10;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    position: fixed;
    height: 7rem;
    display: flex;
    flex-flow: row nowrap;
    background-color: $forground;
    border-bottom: 1px solid $color-grey;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 0px 2px 2px #ccc;

    transition: 500ms;
  }


  &__heading {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    color: $font;

    &--min {
      display: flex;
      flex-flow: row nowrap;
      font-family: 'Raleway', sans-serif;
      color: $font;
      transition: 1000ms;
      flex-basis: 50rem;
      gap: 1rem;
      padding: 0 1rem;
    }

    &--primary {
      font-size: 5rem;
      letter-spacing: 2px;

      &-min {
        font-size: 2.5rem;
      }
    }

    &--secondary {
      font-size: 3rem;
      letter-spacing: 8px;

      &-min {
        font-size: 2.5rem;
      }
    }
  }

  &__contact {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
  }

  &__menu {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 1rem;

    &--min {
      padding: 2rem 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      gap: 1rem;
    }


  }

}

.nav-link {
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size: $default-font-size;
  color: $font-dark;

  &:hover {
    background-color: $primary-dark;
    color: $font-light;
    transition: 300ms;
  }
}


