<div [ngClass]="navClass">
  <h1 [ngClass]="headingClass">
    <span [ngClass]="headingPClass">Trinity-One</span>
    <span [ngClass]="headingSClass">Counseling</span>
  </h1>

  <div class="navbar__contact" *ngIf="isAtTop">
    <a class="btn__outline--primary-dark" href="mailto:debra@trinityonecounseling.com">
      <!-- debra@trinityonecounseling.com -->
      {{config.contactInfo.email}}
    </a>
    <a class="btn__outline--primary-dark" href="tel:{{config.contactInfo.phone}}">
      {{config.contactInfo.phoneDisplay()}}
    </a>
  </div>

  <div [ngClass]="menuClass">
      <a *ngIf="!isAtTop" class="nav-link" href="#home">Home</a>
      <a class="nav-link" href="#practice">My Practice</a>
      <a class="nav-link" href="#areas-of-practice">Areas of Practice</a>
      <a class="nav-link" href="#about-me">About Me</a>
      <a class="nav-link" href="#contact">Contact</a>
  </div>
</div>
