@import "../../../sass/main.scss";

.navbar {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $forground;
  border-bottom: 1px solid $color-grey;


  &__heading {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    color: $font;

    &--primary {
      font-size: 5rem;
      letter-spacing: 2px;
    }

    &--secondary {
      font-size: 3rem;
      letter-spacing: 8px;
    }
  }

  &__contact {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
  }

  &__menu {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 1rem;

    .nav-link {
      text-decoration: none;
      padding: 0.5rem 1rem;
      font-size: $default-font-size;
      color: $font-dark;

      &:hover {
        background-color: $primary-dark;
        color: $font-light;
        transition: 300ms;
      }
    }
  }
}
