<div class="navbar">
  <h1 class="navbar__heading">
    <span class="navbar__heading--primary">Trinity-One</span>
    <span class="navbar__heading--secondary">Counceling</span>
  </h1>

  <div class="navbar__contact">
    <a class="btn__outline--primary-dark" href="mailto:debra@trinityonecounseling.com">
      debra@trinityonecounseling.com
    </a>
    <a class="btn__outline--primary-dark" href="tel:6022778228">
      (607) 277-8228
    </a>
  </div>

  <div class="navbar__menu">
      <a class="nav-link" href="#practice">My Practice</a>
      <a class="nav-link" href="#about-me">About Me</a>
      <a class="nav-link" href="#areas-of-practice">Areas of Practice</a>
      <a class="nav-link" href="#location">location</a>
  </div>
</div>
